@tailwind base;
@tailwind components;
@tailwind utilities;

#about-modal {
  animation: slideIn 0.5s ease-out;
  height: 800px;
  width: 66%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  font-family: 'Courier New', Courier, monospace;
}

#project-card-list {
  list-style: none;
}

.nav-link:active {
  color: #f00c0c;
}

.nav-link {
  color: #f1e3d3;
}

.nav-item {
  background: #f3f3f4;
}

a {
  color: #f00c0c;
}

.render-page {
  height: 100vh;
}

.portfolio-container {
  display: flex;
  flex-direction: row;
}

@keyframes slideIn {
  0% {
    transform: translateX(-50%) translateY(100%);
    display: none;
  }

  100% {
    transform: translateX(-50%) translateY(0%);
    display: block;
  }
}
