#header-name,
#header-cta {
  color: #4f4b45;
}

#header-role-software-engineer {
  color: #e4572e;
}

#header-role-leader {
  color: #98a6d4;
}

#header-role-creative {
  color: #cba175;
}

#header-role-problem-solver {
  color: #875969;
}
